@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:300,400|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$root-colour: #eaedf1;

h1, h2, h3, ul, li {
    color: #333545;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.accent-text {
    font-family: 'Roboto Mono';
}

body {
  width: 100%;
  background-color: $root-colour;
}

.table-hover tbody tr:hover td {
    background: rgba(0, 123, 255, 0.5);
}
