<div class="container">
  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-sm-4 mx-4 my-4 px-lg-5 bg-light rounded" style="height: 100px">
        [<%= product.name %>]
      </div>
    <% end %>
  </div>
</div>
